@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.filter-container {
  @apply flex flex-col  md:justify-between items-end md:items-start md:ms-[220px] flex-wrap me-10 md:me-0 mb-5 md:mb-0;
}

.filter-div{
  @apply flex  flex-wrap gap-1 md:gap-x-2 md:flex-nowrap w-2/5 md:w-auto md:pb-5 items-center
}

.total-products-text{
  @apply text-center md:py-10 pt-10 text-2xl text-blue-gray-500 font-extrabold
}

.addShoesBtn{
  @apply flex items-center gap-3 mb-3  ms-7 md:ms-0 px-6 py-3 md:px-6 md:py-3
}

.filterSalesHistory{
  @apply px-4 py-2 border border-gray-300 rounded-md shadow-sm text-base focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm
}